<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.BuyingConfigMapper">
    
    <resultMap type="BuyingConfig" id="BuyingConfigResult">
        <result property="id"    column="id"    />
        <result property="coinType"    column="coin_type"    />
        <result property="onOff"    column="on_off"    />
        <result property="nowPrice"    column="now_price"    />
        <result property="circulation"    column="circulation"    />
        <result property="days"    column="days"    />
        <result property="buyPrice"    column="buy_price"    />
        <result property="getNumber"    column="get_number"    />
        <result property="buyCount"    column="buy_count"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBuyingConfigVo">
        select id, coin_type, on_off, now_price, circulation, days, buy_price, get_number, buy_count, create_time, update_time from buying_config
    </sql>

    <select id="selectBuyingConfigList" parameterType="BuyingConfig" resultMap="BuyingConfigResult">
        <include refid="selectBuyingConfigVo"/>
        <where>  
            <if test="coinType != null "> and coin_type = #{coinType}</if>
            <if test="onOff != null "> and on_off = #{onOff}</if>
        </where>
    </select>
    
    <select id="selectBuyingConfigById" parameterType="Long" resultMap="BuyingConfigResult">
        <include refid="selectBuyingConfigVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBuyingConfig" parameterType="BuyingConfig" useGeneratedKeys="true" keyProperty="id">
        insert into buying_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coinType != null ">coin_type,</if>
            <if test="onOff != null ">on_off,</if>
            <if test="nowPrice != null  and nowPrice != ''">now_price,</if>
            <if test="circulation != null  and circulation != ''">circulation,</if>
            <if test="days != null ">days,</if>
            <if test="buyPrice != null ">buy_price,</if>
            <if test="getNumber != null ">get_number,</if>
            <if test="buyCount != null ">buy_count,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coinType != null ">#{coinType},</if>
            <if test="onOff != null ">#{onOff},</if>
            <if test="nowPrice != null  and nowPrice != ''">#{nowPrice},</if>
            <if test="circulation != null  and circulation != ''">#{circulation},</if>
            <if test="days != null ">#{days},</if>
            <if test="buyPrice != null ">#{buyPrice},</if>
            <if test="getNumber != null ">#{getNumber},</if>
            <if test="buyCount != null ">#{buyCount},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBuyingConfig" parameterType="BuyingConfig">
        update buying_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="coinType != null ">coin_type = #{coinType},</if>
            <if test="onOff != null ">on_off = #{onOff},</if>
            <if test="nowPrice != null  and nowPrice != ''">now_price = #{nowPrice},</if>
            <if test="circulation != null  and circulation != ''">circulation = #{circulation},</if>
            <if test="days != null ">days = #{days},</if>
            <if test="buyPrice != null ">buy_price = #{buyPrice},</if>
            <if test="getNumber != null ">get_number = #{getNumber},</if>
            <if test="buyCount != null ">buy_count = #{buyCount},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBuyingConfigById" parameterType="Long">
        delete from buying_config where id = #{id}
    </delete>

    <delete id="deleteBuyingConfigByIds" parameterType="String">
        delete from buying_config where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>