<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.CoinManageMapper">
    
    <resultMap type="CoinManage" id="CoinManageResult">
        <result property="id"    column="id"    />
        <result property="coinType"    column="coin_type"    />
        <result property="name"    column="name"    />
        <result property="cnName"    column="cn_name"    />
        <result property="address"    column="address"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="rechargeUrl"    column="recharge_url"    />
        <result property="withdrawFee"    column="withdraw_fee"    />
        <result property="rechargeFee"    column="recharge_fee"    />
        <result property="rechargeAmountMax"    column="recharge_amount_max"    />
        <result property="withdrawAmountMax"    column="withdraw_amount_max"    />
        <result property="rechargeAmountMin"    column="recharge_amount_min"    />
        <result property="withdrawAmountMin"    column="withdraw_amount_min"    />
        <result property="rechargeOnoff"    column="recharge_onoff"    />
        <result property="withdrawOnoff"    column="withdraw_onoff"    />
        <result property="rechargeDoc"    column="recharge_doc"    />
        <result property="withdrawDoc"    column="withdraw_doc"    />
        <result property="c2cOnoff"    column="c2c_onoff"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCoinManageVo">
        select id, coin_type, name, cn_name, address, img_url, recharge_url, withdraw_fee, recharge_fee, recharge_amount_max, withdraw_amount_max, recharge_amount_min, withdraw_amount_min, recharge_onoff, withdraw_onoff, recharge_doc, withdraw_doc, c2c_onoff, create_time, update_time from coin_manage
    </sql>

    <select id="selectCoinManageList" parameterType="CoinManage" resultMap="CoinManageResult">
        <include refid="selectCoinManageVo"/>
        <where>  
            <if test="coinType != null "> and coin_type = #{coinType}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="cnName != null  and cnName != ''"> and cn_name like concat('%', #{cnName}, '%')</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="imgUrl != null  and imgUrl != ''"> and img_url = #{imgUrl}</if>
            <if test="rechargeUrl != null  and rechargeUrl != ''"> and recharge_url = #{rechargeUrl}</if>
            <if test="withdrawFee != null "> and withdraw_fee = #{withdrawFee}</if>
            <if test="rechargeFee != null "> and recharge_fee = #{rechargeFee}</if>
            <if test="rechargeAmountMax != null "> and recharge_amount_max = #{rechargeAmountMax}</if>
            <if test="withdrawAmountMax != null "> and withdraw_amount_max = #{withdrawAmountMax}</if>
            <if test="rechargeAmountMin != null "> and recharge_amount_min = #{rechargeAmountMin}</if>
            <if test="withdrawAmountMin != null "> and withdraw_amount_min = #{withdrawAmountMin}</if>
            <if test="rechargeOnoff != null "> and recharge_onoff = #{rechargeOnoff}</if>
            <if test="withdrawOnoff != null "> and withdraw_onoff = #{withdrawOnoff}</if>
            <if test="rechargeDoc != null  and rechargeDoc != ''"> and recharge_doc = #{rechargeDoc}</if>
            <if test="withdrawDoc != null  and withdrawDoc != ''"> and withdraw_doc = #{withdrawDoc}</if>
            <if test="c2cOnoff != null "> and c2c_onoff = #{c2cOnoff}</if>
        </where>
    </select>
    
    <select id="selectCoinManageById" parameterType="Long" resultMap="CoinManageResult">
        <include refid="selectCoinManageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCoinManage" parameterType="CoinManage" useGeneratedKeys="true" keyProperty="id">
        insert into coin_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="coinType != null ">coin_type,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="cnName != null  and cnName != ''">cn_name,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url,</if>
            <if test="rechargeUrl != null  and rechargeUrl != ''">recharge_url,</if>
            <if test="withdrawFee != null ">withdraw_fee,</if>
            <if test="rechargeFee != null ">recharge_fee,</if>
            <if test="rechargeAmountMax != null ">recharge_amount_max,</if>
            <if test="withdrawAmountMax != null ">withdraw_amount_max,</if>
            <if test="rechargeAmountMin != null ">recharge_amount_min,</if>
            <if test="withdrawAmountMin != null ">withdraw_amount_min,</if>
            <if test="rechargeOnoff != null ">recharge_onoff,</if>
            <if test="withdrawOnoff != null ">withdraw_onoff,</if>
            <if test="rechargeDoc != null  and rechargeDoc != ''">recharge_doc,</if>
            <if test="withdrawDoc != null  and withdrawDoc != ''">withdraw_doc,</if>
            <if test="c2cOnoff != null ">c2c_onoff,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="coinType != null ">#{coinType},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="cnName != null  and cnName != ''">#{cnName},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="imgUrl != null  and imgUrl != ''">#{imgUrl},</if>
            <if test="rechargeUrl != null  and rechargeUrl != ''">#{rechargeUrl},</if>
            <if test="withdrawFee != null ">#{withdrawFee},</if>
            <if test="rechargeFee != null ">#{rechargeFee},</if>
            <if test="rechargeAmountMax != null ">#{rechargeAmountMax},</if>
            <if test="withdrawAmountMax != null ">#{withdrawAmountMax},</if>
            <if test="rechargeAmountMin != null ">#{rechargeAmountMin},</if>
            <if test="withdrawAmountMin != null ">#{withdrawAmountMin},</if>
            <if test="rechargeOnoff != null ">#{rechargeOnoff},</if>
            <if test="withdrawOnoff != null ">#{withdrawOnoff},</if>
            <if test="rechargeDoc != null  and rechargeDoc != ''">#{rechargeDoc},</if>
            <if test="withdrawDoc != null  and withdrawDoc != ''">#{withdrawDoc},</if>
            <if test="c2cOnoff != null ">#{c2cOnoff},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCoinManage" parameterType="CoinManage">
        update coin_manage
        <trim prefix="SET" suffixOverrides=",">
            <if test="coinType != null ">coin_type = #{coinType},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="cnName != null  and cnName != ''">cn_name = #{cnName},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="imgUrl != null  and imgUrl != ''">img_url = #{imgUrl},</if>
            <if test="rechargeUrl != null  and rechargeUrl != ''">recharge_url = #{rechargeUrl},</if>
            <if test="withdrawFee != null ">withdraw_fee = #{withdrawFee},</if>
            <if test="rechargeFee != null ">recharge_fee = #{rechargeFee},</if>
            <if test="rechargeAmountMax != null ">recharge_amount_max = #{rechargeAmountMax},</if>
            <if test="withdrawAmountMax != null ">withdraw_amount_max = #{withdrawAmountMax},</if>
            <if test="rechargeAmountMin != null ">recharge_amount_min = #{rechargeAmountMin},</if>
            <if test="withdrawAmountMin != null ">withdraw_amount_min = #{withdrawAmountMin},</if>
            <if test="rechargeOnoff != null ">recharge_onoff = #{rechargeOnoff},</if>
            <if test="withdrawOnoff != null ">withdraw_onoff = #{withdrawOnoff},</if>
            <if test="rechargeDoc != null  and rechargeDoc != ''">recharge_doc = #{rechargeDoc},</if>
            <if test="withdrawDoc != null  and withdrawDoc != ''">withdraw_doc = #{withdrawDoc},</if>
            <if test="c2cOnoff != null ">c2c_onoff = #{c2cOnoff},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCoinManageById" parameterType="Long">
        delete from coin_manage where id = #{id}
    </delete>

    <delete id="deleteCoinManageByIds" parameterType="String">
        delete from coin_manage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>