<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.NoticeMangerMapper">
    
    <resultMap type="NoticeManger" id="NoticeMangerResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="type"    column="type"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectNoticeMangerVo">
        select id, title, content, type, create_time, update_time from notice
    </sql>

    <select id="selectNoticeMangerList" parameterType="NoticeManger" resultMap="NoticeMangerResult">
        <include refid="selectNoticeMangerVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectNoticeMangerById" parameterType="Long" resultMap="NoticeMangerResult">
        <include refid="selectNoticeMangerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertNoticeManger" parameterType="NoticeManger" useGeneratedKeys="true" keyProperty="id">
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="type != null ">type,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="type != null ">#{type},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateNoticeManger" parameterType="NoticeManger">
        update notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="type != null ">type = #{type},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNoticeMangerById" parameterType="Long">
        delete from notice where id = #{id}
    </delete>

    <delete id="deleteNoticeMangerByIds" parameterType="String">
        delete from notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>